{% from "bootstrap5/form.html" import render_field %}{% block content %}{% include "base.html" %}
 
<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('#')"
>
  <!-- <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Log In</h1>
        </div>
      </div>
    </div>
  </div> -->
</header>

<main class="mb-4">
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="row w-100">
      <!-- Flash message section -->
      <div class="col-lg-8 col-md-10 mx-auto text-left">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <p class="flash">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <!-- Login form -->
        <div class="form-container">
          <div class="input-group">
            {{ render_field(form.email, class="form-input") }}
          </div>
          <div class="input-group">
            {{ render_field(form.password, class="form-input") }}
          </div>
        </div>
        <!-- Forgot Password link -->
        <div class="text-center mt-3">
          <a href="#" class="forgot-password">
            Forgot Password?
          </a>
        </div>
        <div class="form-container">
          {{ render_field(form.submit) }}
        </div>
        <!-- Register link -->
        <div class="text-center mt-3">
          <a href="{{ url_for('register') }}" class="create-account">
            Don't have an account? Create Account
          </a>
        </div>
        
      </div>
    </div>
  </div>
</main>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% endblock %}